<ul class="nav nav-tabs nav-justified">
    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a name="vueensemble" [routerLink]="['overview']">Vue d'ensemble</a>
    </li>
    <li role="presentation" routerLinkActive="active">
        <a name="backlog" [routerLink]="['backlog']">Backlog</a>
    </li>
    <li role="presentation" routerLinkActive="active" class="dropdown" appDropDown>
        <a [routerLink]="['sprints']" href="#" role="button" name="sprints"
           aria-haspopup="true" aria-expanded="false">Sprints</a>
    </li>
</ul>

<router-outlet></router-outlet>
